@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#recaptcha-container, #recaptcha-container * {
  animation: none !important;
  transition: none !important;
  transform: none !important;
}
